

p{
  color: purple;
  background color: tan;
  padding: 10px;
  <--! or use hte hex code-->
  font-weight: bold;
}

#calliut{
  background-color: tan;
  padding: 20px;
  margin: 10px;
  border: solid 10px black;
  border-radius: 20px;
}

#my-portrait {
    width: 300px;
}
