

p{
  color: purple;
  background color: tan;
  padding: 60px;
  <--! or use hte hex code-->
  font-weight: bold;
}

#calliut{
  background-color: tan;
  padding: 20px;
  margin: 10px;
  border: solid 20px purple;
  border-radius: 60px;
}
